#chat-window {
  flex-grow: 2;

  display: flex;
  flex-direction: column;
  position: relative;
  /* background: url(../images/chat-bg.png); */
}

#chat-window-header {
  color: white;
  display: flex;
  align-items: center;
  column-gap: 12px;
  height: var(--header-height);
  padding: 15px 20px;
  background-color: var(--primary);
}

.contact-menu {
  position: absolute;
  right: 5px;
}

#active-chat-details {
  flex-grow: 1;
  
}
h3{

  color: green;
  
}
.chat-message-content{

color: whitesmoke;
}

#chat-window-contents {
  flex-grow: 1;
  position: relative;
  z-index: 1;
  overflow: auto;
  padding: 10px;
}

#compose-chat-box {
  margin: 0px 5px;
  background-color: var(--compose-bg-color);
  padding-left: 12px;
  font-size: 15px;
}

#chat-window-footer {
  display: flex;
  /* column-gap: 10px; */
  height: 62px;
  width: 100%;
  padding: 10px 25px;
  background-color: var(--primary);
}

.button-send{
  background-color: var(--primary);
  border: none;
  padding: 10px;
}
.button-emoji{
  background-color: var(--primary);
  border: none;
  
}
.button-file{
  background-color: var(--primary);
  border: none;
  
}
.button-mic{
  background-color: var(--primary);
  border: none;
  
}
#active-chat-details > .info {
  color: var(--text-secondary);
  font-size: 13px;
}

.datestamp-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.datestamp {
  color: var(--text-secondary);
  font-size: 12.5px;
  background-color: var(--primary);
  border-radius: var(--border-radius);
  padding: 8px 10px;
  margin: 13px 0px;
}





.shrink {
  height: 0;
  width: 0;
}
